In [1]:
file_path="Data/ICICIBANK_1min_load.csv"

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(file_path)

In [4]:
df

                  timestamp     open     high      low    close  volume
0       2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
1       2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2       2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
3       2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
4       2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                     ...      ...      ...      ...      ...     ...
972568  2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
972569  2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
972570  2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
972571  2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
972572  2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972573 entries, 0 to 972572
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  972573 non-null  object
 1   open       972573 non-null  float64
 2   high       972573 non-null  float64
 3   low        972573 non-null  float64
 4   close      972573 non-null  float64
 5   volume     972573 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 44.5+ MB

In [6]:
print(f"Rows before: {len(df)}")

Rows before: 972573

In [7]:
df = df[~df.index.duplicated(keep='first')]

In [8]:
print(f"Rows after: {len(df)}")

Rows after: 972573

In [9]:
required_cols = ['open', 'high', 'low', 'close', 'volume']
df.dropna(subset=required_cols, inplace=True)

In [10]:
print(f"Rows after dropping NaNs: {len(df)}")

Rows after dropping NaNs: 972573

In [11]:
perfect_index = pd.date_range(start="2026-01-09 09:30:00", 
                              end="2026-01-09 16:00:00", 
                              freq='1min')

In [12]:
df_continuous = df.reindex(perfect_index)

In [13]:
gaps_found = df_continuous['close'].isna().sum()
print(f"Missing minutes found: {gaps_found}")

Missing minutes found: 391

In [14]:
df_continuous[['open', 'high', 'low', 'close']] = df_continuous[['open', 'high', 'low', 'close']].ffill()
df_continuous['volume'] = df_continuous['volume'].fillna(0)

In [15]:
df_continuous.bfill(inplace=True)

C:\Users\bvshr\AppData\Local\Temp\ipykernel_37720\1376434899.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_continuous.bfill(inplace=True)

In [16]:
print(df.columns)|

SyntaxError: invalid syntax (1500432083.py, line 1)

In [17]:
print(df.columns)

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [18]:
all_days = df.index.normalize().unique()

AttributeError: 'RangeIndex' object has no attribute 'normalize'

In [19]:
df['date'] = pd.to_datetime(df['Date'], errors='coerce')

KeyError: 'Date'

In [20]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

In [21]:
df.set_index('timestamp', inplace=True)

In [22]:
print(df.index)

DatetimeIndex(['2015-02-02 09:15:00', '2015-02-02 09:16:00',
               '2015-02-02 09:17:00', '2015-02-02 09:18:00',
               '2015-02-02 09:19:00', '2015-02-02 09:20:00',
               '2015-02-02 09:21:00', '2015-02-02 09:22:00',
               '2015-02-02 09:23:00', '2015-02-02 09:24:00',
               ...
               '2025-08-06 17:04:00', '2025-08-06 17:07:00',
               '2025-08-06 17:10:00', '2025-08-06 17:13:00',
               '2025-08-06 17:16:00', '2025-08-06 17:19:00',
               '2025-08-06 17:22:00', '2025-08-06 17:54:00',
               '2025-08-06 17:57:00', '2025-08-06 20:28:00'],
              dtype='datetime64[ns]', name='timestamp', length=972573, freq=None)

In [23]:
df

                        open     high      low    close  volume
timestamp
2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                      ...      ...      ...      ...     ...
2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 5 columns]

In [24]:
all_days = df.index.normalize().unique()

In [25]:
master_minutes = []
for day in all_days:
    day_range = pd.date_range(
        start=day.replace(hour=9, minute=30), 
        end=day.replace(hour=16, minute=0), 
        freq='1min'
    )
    master_minutes.extend(day_range)

In [26]:
master_index = pd.DatetimeIndex(master_minutes)

In [27]:
df_continuous = df.reindex(master_index)

In [28]:
df_continuous[['open', 'high', 'low', 'close']] = df_continuous[['open', 'high', 'low', 'close']].ffill()

In [29]:
df_continuous['volume'] = df_continuous['volume'].fillna(0)

In [30]:
df_continuous = df_continuous.bfill().infer_objects(copy=False)

In [31]:
print(f"Total rows in continuous data: {len(df_continuous)}")
print(f"Total gaps filled: {len(df_continuous) - len(df)}")

Total rows in continuous data: 1018555
Total gaps filled: 45982

In [32]:
df

                        open     high      low    close  volume
timestamp
2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                      ...      ...      ...      ...     ...
2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 5 columns]

In [33]:
print(df_continuous[['open', 'high', 'low', 'close']].isnull().sum())

open     0
high     0
low      0
close    0
dtype: int64

In [34]:
print(df_continuous.tail(10))

                       open    high     low   close  volume
2025-08-06 15:51:00  1443.6  1443.6  1443.6  1443.6    57.0
2025-08-06 15:52:00  1443.6  1443.6  1443.6  1443.6    53.0
2025-08-06 15:53:00  1443.6  1443.6  1443.6  1443.6     0.0
2025-08-06 15:54:00  1443.6  1443.6  1443.6  1443.6     0.0
2025-08-06 15:55:00  1443.6  1443.6  1443.6  1443.6     0.0
2025-08-06 15:56:00  1443.6  1443.6  1443.6  1443.6     0.0
2025-08-06 15:57:00  1443.6  1443.6  1443.6  1443.6     5.0
2025-08-06 15:58:00  1443.6  1443.6  1443.6  1443.6    16.0
2025-08-06 15:59:00  1443.6  1443.6  1443.6  1443.6     0.0
2025-08-06 16:00:00  1443.6  1443.6  1443.6  1443.6     0.0

In [35]:
print(df_continuous.sample(10))

                       open    high     low   close    volume
2022-11-11 12:45:00  906.65  906.85  906.40  906.60   27952.0
2022-05-16 15:47:00  683.20  684.50  683.00  684.15       0.0
2020-08-21 13:36:00  368.55  368.55  368.25  368.30   17302.0
2023-07-20 11:35:00  976.40  976.65  975.35  975.45   37228.0
2019-02-15 10:09:00  346.90  347.60  346.90  347.40  168114.0
2019-12-10 13:53:00  528.65  528.95  528.40  528.65   37107.0
2022-06-09 12:01:00  726.50  726.50  726.30  726.40    2758.0
2023-02-06 11:27:00  856.60  856.95  856.40  856.40    4753.0
2017-05-18 10:33:00  278.23  278.32  277.91  278.32   67838.0
2016-03-10 11:51:00  197.00  197.14  196.91  197.00   28800.0

In [36]:
df_continuous.to_csv("Data/NVDA_Cleaned_Final.csv", 
                     index=True, 
                     date_format='%Y-%m-%d %H:%M:%S',
                     float_format='%.4f')