In [1]:
import pandas as pd

In [2]:
file_path=Data/NVDA_1min

NameError: name 'Data' is not defined

In [3]:
file_path=C:\Personal\Coding\Quant Project\Research\Data

SyntaxError: invalid syntax (1476125161.py, line 1)

In [4]:
import os
print(os.getcwd())

C:\Personal\Coding\Quant Project\Research

In [5]:
file_PATH="Data/NVDA_1min.csv"

In [6]:
df=pd.read_csv(file_PATH)

In [9]:
df

                   datetime    open    high     low   close   % change
0       2025-03-07 20:54:00  111.98  112.69  111.98  112.68   0.625112
1       2025-03-07 20:53:00  112.03  112.05  111.84  112.01  -0.017852
2       2025-03-07 20:52:00  112.02  112.20  112.02  112.08   0.053562
3       2025-03-07 20:51:00  111.99  112.11  111.89  112.01   0.017859
4       2025-03-07 20:50:00  111.98  112.11  111.81  111.98   0.000000
...                     ...     ...     ...     ...     ...        ...
713668  1999-01-28 22:00:00    0.04    0.04    0.03    0.03 -25.000000
713669  1999-01-27 22:00:00    0.04    0.04    0.04    0.04   0.000000
713670  1999-01-26 22:00:00    0.04    0.04    0.03    0.04   0.000000
713671  1999-01-25 22:00:00    0.04    0.04    0.04    0.04   0.000000
713672  1999-01-24 22:00:00    0.04    0.04    0.04    0.04   0.000000

[713673 rows x 6 columns]

In [8]:
file_PATH="Data/INDIGO.csv"

In [10]:
df=pd.read_csv(file_PATH)

In [11]:
df

                       date    open    high     low   close  volume
0       2015-11-10 09:44:22   855.8   855.8   855.8   855.8       0
1       2015-11-10 09:45:00   855.8   855.8   855.8   855.8       0
2       2015-11-10 09:46:00   855.8   855.8   855.8   855.8       0
3       2015-11-10 09:47:00   855.8   855.8   855.8   855.8       0
4       2015-11-10 09:48:00   855.8   855.8   855.8   855.8       0
...                     ...     ...     ...     ...     ...     ...
900596  2025-08-06 17:19:00  5871.0  5871.0  5871.0  5871.0       0
900597  2025-08-06 17:22:00  5871.0  5871.0  5871.0  5871.0       0
900598  2025-08-06 17:54:00  5871.0  5871.0  5871.0  5871.0       0
900599  2025-08-06 17:57:00  5871.0  5871.0  5871.0  5871.0       0
900600  2025-08-06 18:13:00  5871.0  5871.0  5871.0  5871.0       0

[900601 rows x 6 columns]

In [12]:
file_PATH="Data/ICICI.csv"

In [13]:
df=pd.read_csv(file_PATH)

FileNotFoundError: [Errno 2] No such file or directory: 'Data/ICICI.csv'

In [14]:
file_PATH="Data/ICICIBANK.csv"

In [15]:
df=pd.readcsv(file_PATH);

AttributeError: module 'pandas' has no attribute 'readcsv'

In [16]:
df=pd.read_csv(file_PATH)

In [17]:
df

                       date     open     high      low    close  volume
0       2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
1       2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2       2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
3       2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
4       2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                     ...      ...      ...      ...      ...     ...
972568  2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
972569  2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
972570  2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
972571  2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
972572  2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 6 columns]

In [18]:
df['date'] = pd.to_datetime(df['timestamp'], errors='coerce')

KeyError: 'timestamp'

In [19]:
df['timestamp'] = pd.to_datetime(df['data'], errors='coerce')

KeyError: 'data'

In [20]:
df['timestamp'] = pd.to_datetime(df['date'], errors='coerce')

In [21]:
df

,date,open,high,low,close,volume,timestamp
0,2015-02-02 09:15:00,326.68,327.27,324.00,324.09,432718,2015-02-02 09:15:00
1,2015-02-02 09:16:00,323.82,324.09,323.27,323.64,365505,2015-02-02 09:16:00
2,2015-02-02 09:17:00,323.64,323.95,323.32,323.86,165473,2015-02-02 09:17:00
3,2015-02-02 09:18:00,324.09,324.09,323.36,323.50,225438,2015-02-02 09:18:00
4,2015-02-02 09:19:00,323.59,323.59,322.55,322.68,282511,2015-02-02 09:19:00
...,...,...,...,...,...,...,...
972568,2025-08-06 17:19:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:19:00
972569,2025-08-06 17:22:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:22:00
972570,2025-08-06 17:54:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:54:00
972571,2025-08-06 17:57:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:57:00
972572,2025-08-06 20:28:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 20:28:00

In [22]:
df.sort_values(by='timestamp', inplace=True)

In [23]:
df

,date,open,high,low,close,volume,timestamp
0,2015-02-02 09:15:00,326.68,327.27,324.00,324.09,432718,2015-02-02 09:15:00
1,2015-02-02 09:16:00,323.82,324.09,323.27,323.64,365505,2015-02-02 09:16:00
2,2015-02-02 09:17:00,323.64,323.95,323.32,323.86,165473,2015-02-02 09:17:00
3,2015-02-02 09:18:00,324.09,324.09,323.36,323.50,225438,2015-02-02 09:18:00
4,2015-02-02 09:19:00,323.59,323.59,322.55,322.68,282511,2015-02-02 09:19:00
...,...,...,...,...,...,...,...
972568,2025-08-06 17:19:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:19:00
972569,2025-08-06 17:22:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:22:00
972570,2025-08-06 17:54:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:54:00
972571,2025-08-06 17:57:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 17:57:00
972572,2025-08-06 20:28:00,1443.60,1443.60,1443.60,1443.60,0,2025-08-06 20:28:00

In [24]:
df.drop(columns=['date'], inplace=True)

In [25]:
df

           open     high      low    close  volume           timestamp
0        326.68   327.27   324.00   324.09  432718 2015-02-02 09:15:00
1        323.82   324.09   323.27   323.64  365505 2015-02-02 09:16:00
2        323.64   323.95   323.32   323.86  165473 2015-02-02 09:17:00
3        324.09   324.09   323.36   323.50  225438 2015-02-02 09:18:00
4        323.59   323.59   322.55   322.68  282511 2015-02-02 09:19:00
...         ...      ...      ...      ...     ...                 ...
972568  1443.60  1443.60  1443.60  1443.60       0 2025-08-06 17:19:00
972569  1443.60  1443.60  1443.60  1443.60       0 2025-08-06 17:22:00
972570  1443.60  1443.60  1443.60  1443.60       0 2025-08-06 17:54:00
972571  1443.60  1443.60  1443.60  1443.60       0 2025-08-06 17:57:00
972572  1443.60  1443.60  1443.60  1443.60       0 2025-08-06 20:28:00

[972573 rows x 6 columns]

In [26]:
temp_col = df.pop('timestamp')

In [27]:
df.insert(0,'timestamp',temp_col)

In [28]:
df

                 timestamp     open     high      low    close  volume
0      2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
1      2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2      2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
3      2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
4      2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                    ...      ...      ...      ...      ...     ...
972568 2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
972569 2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
972570 2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
972571 2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
972572 2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 6 columns]

In [29]:
df.set_index('timestamp',inplace=True)

In [30]:
df

                        open     high      low    close  volume
timestamp
2015-02-02 09:15:00   326.68   327.27   324.00   324.09  432718
2015-02-02 09:16:00   323.82   324.09   323.27   323.64  365505
2015-02-02 09:17:00   323.64   323.95   323.32   323.86  165473
2015-02-02 09:18:00   324.09   324.09   323.36   323.50  225438
2015-02-02 09:19:00   323.59   323.59   322.55   322.68  282511
...                      ...      ...      ...      ...     ...
2025-08-06 17:19:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:22:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:54:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 17:57:00  1443.60  1443.60  1443.60  1443.60       0
2025-08-06 20:28:00  1443.60  1443.60  1443.60  1443.60       0

[972573 rows x 5 columns]

In [31]:
df.to_csv("Data/ICICIBANK_1min.csv", 
          index=True, 
          date_format='%Y-%m-%d %H:%M:%S',
          float_format='%.4f')