In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir("C:/Personal/Coding/Quant Project/Research")
df = pd.read_csv('Data/ICICIBANK_Feature.csv', index_col=0, parse_dates=True)
df.index.name = "timestamp"
from src.strategy import backtest_mean_reversion_existing_features

In [2]:
df=backtest_mean_reversion_existing_features(df)

In [3]:
df

,open,high,low,close,volume,log_return,vol_20,vol_60,sma_20,sma_60,...,position_change,transaction_cost,strategy_return_net,cum_strategy,cum_strategy_net,cum_market,low_vol_regime,low_trend,no_large_bar,trade_filter
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-02-02 12:47:00,319.09,319.14,319.09,319.14,295417.0,0.000000,0.000407,0.000559,319.1035,319.584667,...,0.0,0.0,0.0,0.000000,0.000000,0.000721,True,True,True,True
2015-02-02 12:48:00,319.09,319.50,318.91,319.09,72710.0,-0.000157,0.000397,0.000559,319.1055,319.564167,...,0.0,0.0,-0.0,0.000000,0.000000,0.000564,True,True,True,True
2015-02-02 12:49:00,319.00,319.41,319.00,319.18,76971.0,0.000282,0.000397,0.000551,319.1075,319.541333,...,0.0,0.0,0.0,0.000000,0.000000,0.000846,True,True,True,True
2015-02-02 12:50:00,319.18,319.55,319.14,319.55,90500.0,0.001159,0.000474,0.000573,319.1280,319.525500,...,0.0,0.0,0.0,0.000000,0.000000,0.002005,True,True,False,False
2015-02-02 12:51:00,319.45,319.59,319.27,319.32,62106.0,-0.000720,0.000505,0.000579,319.1370,319.507333,...,0.0,0.0,-0.0,0.000000,0.000000,0.001285,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-20 15:26:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000286,0.000469,851.5400,852.570000,...,0.0,0.0,0.0,0.136277,-24.704723,0.982267,True,True,True,True
2023-02-20 15:27:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000279,0.000447,851.5275,852.564167,...,0.0,0.0,0.0,0.136277,-24.704723,0.982267,True,True,True,True
2023-02-20 15:28:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000278,0.000442,851.5100,852.565833,...,0.0,0.0,0.0,0.136277,-24.704723,0.982267,True,True,True,True
2023-02-20 15:29:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000278,0.000436,851.4925,852.575000,...,0.0,0.0,0.0,0.136277,-24.704723,0.982267,True,True,True,True
2023-02-20 15:30:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000204,0.000414,851.5100,852.569167,...,0.0,0.0,0.0,0.136277,-24.704723,0.982267,True,True,True,True

In [4]:
trade_count = (df['position'].diff().abs() > 0).sum()
print(trade_count)
trades_per_day = trade_count / (len(df) / 390)
print(trades_per_day)

49682
26.911158086550238

In [5]:
sharpe = (
    df['strategy_return'].mean() /
    df['strategy_return'].std()
) * np.sqrt(252 * 390)

print(f"Sharpe: {sharpe:.2f}")

Sharpe: 0.32

In [6]:
net_profit_log = df['cum_strategy_net'].iloc[-1]
print(net_profit_log)

-24.704722770582148

In [7]:
net_profit_pct = np.exp(df['cum_strategy_net'].iloc[-1]) - 1
print(f"Net Profit After Costs: {net_profit_pct:.2%}")

Net Profit After Costs: -100.00%

In [8]:
gross_pct = np.exp(df['cum_strategy'].iloc[-1]) - 1
net_pct   = np.exp(df['cum_strategy_net'].iloc[-1]) - 1

print(f"Gross Return: {gross_pct:.2%}")
print(f"Net Return:   {net_pct:.2%}")
print(f"Cost Impact:  {(gross_pct - net_pct):.2%}")

Gross Return: 14.60%
Net Return:   -100.00%
Cost Impact:  114.60%

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir("C:/Personal/Coding/Quant Project/Research")
df = pd.read_csv('Data/ICICIBANK_Feature.csv', index_col=0, parse_dates=True)
df.index.name = "timestamp"
from src.strategy import backtest_mean_reversion_existing_features

In [2]:
df=backtest_mean_reversion_existing_features(df)

In [3]:
df

,open,high,low,close,volume,log_return,vol_20,vol_60,sma_20,sma_60,...,position_change,transaction_cost,strategy_return_net,cum_strategy,cum_strategy_net,cum_market,low_vol_regime,low_trend,no_large_bar,trade_filter
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-02-02 12:47:00,319.09,319.14,319.09,319.14,295417.0,0.000000,0.000407,0.000559,319.1035,319.584667,...,0.0,0.0,0.0,0.000000,0.000000,0.000721,True,True,True,True
2015-02-02 12:48:00,319.09,319.50,318.91,319.09,72710.0,-0.000157,0.000397,0.000559,319.1055,319.564167,...,0.0,0.0,-0.0,0.000000,0.000000,0.000564,True,True,True,True
2015-02-02 12:49:00,319.00,319.41,319.00,319.18,76971.0,0.000282,0.000397,0.000551,319.1075,319.541333,...,0.0,0.0,0.0,0.000000,0.000000,0.000846,True,True,True,True
2015-02-02 12:50:00,319.18,319.55,319.14,319.55,90500.0,0.001159,0.000474,0.000573,319.1280,319.525500,...,0.0,0.0,0.0,0.000000,0.000000,0.002005,True,True,False,False
2015-02-02 12:51:00,319.45,319.59,319.27,319.32,62106.0,-0.000720,0.000505,0.000579,319.1370,319.507333,...,0.0,0.0,-0.0,0.000000,0.000000,0.001285,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-20 15:26:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000286,0.000469,851.5400,852.570000,...,0.0,0.0,0.0,0.433665,-163.143335,0.982267,True,True,True,True
2023-02-20 15:27:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000279,0.000447,851.5275,852.564167,...,0.0,0.0,0.0,0.433665,-163.143335,0.982267,True,True,True,True
2023-02-20 15:28:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000278,0.000442,851.5100,852.565833,...,0.0,0.0,0.0,0.433665,-163.143335,0.982267,True,True,True,True
2023-02-20 15:29:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000278,0.000436,851.4925,852.575000,...,0.0,0.0,0.0,0.433665,-163.143335,0.982267,True,True,True,True
2023-02-20 15:30:00,851.00,851.70,850.50,851.65,0.0,0.000000,0.000204,0.000414,851.5100,852.569167,...,0.0,0.0,0.0,0.433665,-163.143335,0.982267,True,True,True,True

In [4]:
trade_count = (df['position'].diff().abs() > 0).sum()
print(trade_count)
trades_per_day = trade_count / (len(df) / 390)
print(trades_per_day)

327136
177.19915888655245

In [5]:
sharpe = (
    df['strategy_return'].mean() /
    df['strategy_return'].std()
) * np.sqrt(252 * 390)

print(f"Sharpe: {sharpe:.2f}")

Sharpe: 0.28

In [6]:
df_result=df

In [7]:

print("="*60)
print("DIAGNOSTIC REPORT")
print("="*60)

# 1. How much are filters cutting trades?
print("\n1. FILTER IMPACT")
print(f"Bars passing filters: {df_result['trade_filter'].mean():.1%}")
total_trades = df_result['trade'].sum() // 2  # Divide by 2 (entry+exit)
print(f"Total round-trip trades: {total_trades}")
print(f"Trades per day: {total_trades / len(df_result.index.date.unique()):.1f}")

# 2. What's killing performance?
print("\n2. PERFORMANCE BREAKDOWN")
gross = df_result['strategy_return'].sum()
costs = df_result['transaction_cost'].sum()
net = df_result['strategy_return_net'].sum()

print(f"Gross return: {gross:.4f}")
print(f"Total costs:  {costs:.4f}")
print(f"Net return:   {net:.4f}")
print(f"Cost ratio:   {costs/abs(gross) if gross != 0 else 'N/A':.1%}")

# 3. Per-trade economics
if total_trades > 0:
    print(f"\nAvg gross per trade: {gross/total_trades:.6f}")
    print(f"Avg cost per trade:  {0.0005:.6f}")
    print(f"Avg net per trade:   {net/total_trades:.6f}")

# 4. Win rate
trade_pnl = df_result.groupby('trade_block')['strategy_return_net'].sum()
trade_pnl = trade_pnl[trade_pnl != 0]  # Remove flat periods
print(f"\n4. WIN RATE")
print(f"Winning trades: {(trade_pnl > 0).sum()} / {len(trade_pnl)}")
print(f"Win rate: {(trade_pnl > 0).mean():.1%}")
print(f"Avg winner: {trade_pnl[trade_pnl > 0].mean():.6f}")
print(f"Avg loser:  {trade_pnl[trade_pnl < 0].mean():.6f}")

# 5. Holding time stats
hold_times = df_result.groupby('trade_block')['holding_time'].max()
hold_times = hold_times[hold_times > 0]
print(f"\n5. HOLDING TIME")
print(f"Avg hold: {hold_times.mean():.1f} bars")
print(f"Max hold hits (30 bars): {(hold_times >= 30).sum()}")

============================================================
DIAGNOSTIC REPORT
============================================================

1. FILTER IMPACT
Bars passing filters: 51.7%
Total round-trip trades: 163568

AttributeError: 'numpy.ndarray' object has no attribute 'unique'